:root {
  --color-strong-cyan: hsl(171, 66%, 44%);
  --color-light-blue: hsl(233, 100%, 69%);
  --color-grayish-blue-4: hsl(201, 11%, 66%);
  --color-grayish-blue-8: hsl(210, 10%, 33%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-2: hsl(220, 18%, 97%);
}
