@use '../abstracts' as *;

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(24) rem(16);

  @include breakpoint-down(large) {
    flex-direction: column;
  }
}
