@use '../abstracts' as *;

.button {
  --button-max-width: #{rem(350)};
  --button-height: #{rem(56)};
  width: min(100%, var(--button-max-width));
  height: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-4);
  font-weight: 700;
  color: var(--color-white);
  border-radius: calc(var(--button-height) / 2);
  box-shadow: inset 0 rem(-1) 0 rem(1.5) rgb(0, 0, 0, 0.2), 0 rem(7) rem(15) var(--button-shadow-color);
  transition: filter var(--duration-1) ease;

  @include breakpoint(large) {
    --button-max-width: #{rem(228)};
  }

  &:hover,
  &:focus-visible {
    filter: opacity(0.8);
  }

  &--ios,
  &--mac {
    @extend .button;
  }

  &--ios {
    --button-shadow-color: hsl(171, 66%, 44%, 0.4);
    background-color: var(--color-strong-cyan);
  }

  &--mac {
    --button-shadow-color: hsl(233, 100%, 69%, 0.2);
    background-color: var(--color-light-blue);
  }
}
