@use '../abstracts' as *;

.cards {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-block-start: rem(60);

  &--inline,
  &--column {
    @extend .cards;
  }

  &--column {
    @include breakpoint(large) {
      justify-items: flex-start;
    }
  }

  &--inline {
    @include breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      align-items: baseline;
      column-gap: min(2.3vw, rem(32));
    }
  }
}
